# IDE
.idea/
*.iml

# build / release artifacts
frontend/release/
**/release/
**/dist/
**/build/

# wails / node artifacts (按需)
node_modules/

dist/
.DS_Store
.gemini-clipboard
GoNavi-Wails
GoNavi-Wails.exe